* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

article, aside, figcaption, figure, footer, header, section, nav, hgroup {
  display: block;
}

body {
  font-family: "Nanum Gothic" sans-serif;
}
